body {
    background-color: #FF6961;
}

h1 {
    font-weight: 900;
    padding-bottom: 0 ;
}

h2 {
    font-size: 22pt;
    font-weight: 300;
    /* padding-left: 40px; */
    margin-bottom: -10px;
    padding-bottom: 20px;
    font-family: 'Dela Gothic One', sans-serif;
}

#maintitle {
    font-weight: 580;
    font-size: 36pt;
    text-align: center;
    vertical-align: middle;
    font-family: 'Dela Gothic One', sans-serif;
}

#subtitle {
    font-weight: 580;
    font-size: 18pt;
    text-align: center;
    vertical-align: top;
    padding-bottom: 40px;
    padding-top: -20px;
    font-family: 'Roboto', sans-serif;
}

#smalltitle {
    font-size: x-large;
}
p {
    font-size: 13pt;
    font-weight: 300;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 20pt;
}

.rightdesc {
    padding-left: 30px;
}

.leftdesc {
    padding-right: 30px;
}
/* .sidedescription {
    padding: 70px;
} */

#barchartdesc {
    padding-left: 40px;
    padding-right: 40px;
}

.extrainfo{
    font-size: 11pt;
    padding-top: 0px;
    color: #373737
}


.page {
    width: 1000px;
    background-color: white;
    margin: 0px auto 20px;
    padding: 50px;
    padding-top: 35px;
    border-radius: 10px;
}

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 20px;
}

.pure-g-title {
    margin-bottom: -20px;
    margin-top: -20px;
}

#youtubelogo {
    width: 130px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#youtuberslogo {
    width: 350;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin: 5px 0px;
}

.bold_text {
    font-weight: bold;
}

